/*
CSS styling for quiz pages.
*/

#quiz #question {
    width: 100%; /* Ensure questions take full width of the container */
    max-width: 600px; /* Adjust max-width as needed */
}

#quiz #question .row {
    display: flex;
    justify-content: space-between; /* Spread options evenly within the row */
}

#quiz #question #option {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    width: calc(50% - 20px); /* Adjust width for two options in one row */
    max-width: 350px; /* Adjust max-width as needed */
}

#jumbotron {
    padding-top: 0;
    margin-top: 75px;
    margin-bottom: 0;
}

#jumbotron img {
    margin-top: 0;
}

#jumbotron h1 {
    margin-top: 60px;
    font-size: 100px;
}

#jumbotron p {
    font-size: 30px;
}

.panel {
    margin-top: 75px;
    margin-bottom: 75px;
}

.panel-heading .panel-title {
    font-size: 50px;
}

.panel-body #row1 {
    margin-bottom: 15px;
}

.panel-body #row2 {
    margin-top: 15px;
}


.panel-body button {
    font-size: 25px;
}

.panel-body .btn .btn-primary .btn-block {
    margin: 100px;
}
